binary "https://www.mapbox.com/ios-sdk/Mapbox-iOS-SDK.json" ~> 4.6
github "Alamofire/Alamofire" ~> 4.7
github "ReactiveX/RxSwift" ~> 4.0
github "SwiftyBeaver/SwiftyBeaver" ~> 1.6
github "jonkykong/SideMenu" ~>5.0.3
github "fredyshox/KMNavigationBarTransition" "master"
binary "https://packages.couchbase.com/releases/couchbase-lite-ios/carthage/CouchbaseLite-Community.json" ~> 2.1.3
